@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}

body {
    background-color: beige;
    color: Black;
}
header {

    background: rgb(37, 105, 196);
    color: white;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo h1 {
    margin-left: 20px;
    font-size: 1.8em;
    color: #fff;
}
nav ul {
    list-style: none;
    display: flex;
    margin-right: 30px;
}
nav ul li {
    margin-left: 30px;
}
nav ul li a {
    color: White;
    text-decoration: none;
    font-size: 1.1em;
}
nav ul li a:hover {
    color: orange;
}

/* Sections */

.section {
    
    padding: 80px 20px;
    text-align: center;
    background-color: rgb(186, 196, 228);
    height: auto;
}

.content {
    max-width: 1200px;
    margin: 0 auto;
}

h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #3959af;
}

p {
    margin-bottom: 20px;
    font-size: 1.2em;
    color: rgb(18, 64, 90);
}


.btn {
    background-color: rgb(52, 92, 138);
    color: #fff;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #627cb4;
    color: rgb(255, 255, 255);
}

/* Footer */
footer {
    font-size: 20px;
    text-align: center;
    padding: 20px;
    background-color: rgb(75, 101, 156);;
    color: white;
    
}

/* Responsive Design */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    input[type="text"], input[type="password"] {
        width: 100%;
    }

    .content {
        padding: 10px;
    }
}

.btn {
    padding: 10px 20px;
    background-color: rgb(37, 105, 196);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn:hover {
    background-color: rgb(16, 87, 92);
    color:white;
}
